/*去除边框 初始化*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

/*pc页面最小宽度*/
body,html{
	min-width: 1280px;
}

/*导航栏位置大小*/
header{
	position: fixed;
	z-index: 999;
	min-width: 1280px;
	width: 100%;
	height: 100px;
}

/*导航栏半透明背景*/
header .background{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5
}

/*logo*/
header #logo{
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	height: 60%;
}

/*导航栏链接*/
header ul{
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translateY(-50%);
	height: 50%;
	text-align: center;
}

header li{
	position: relative;
	display: inline;
	float: left;
	height: 50px;
	line-height: 50px;
	list-style-type: none;
}

/*导航栏链接鼠标覆盖时样式*/
.focus:hover{
	background: #8fc540;
	border-radius: 4px;
}

/*导航栏链接样式*/
header a{
	padding:30px 20px 30px;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	cursor: auto;
}

/*动态隐藏导航栏动画*/
.slideUp {
 /* -webkit-transform: translateY(-100px);
  transform: translateY(-100px);*/
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  /*transition: transform .5s ease-out;*/
  -webkit-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
}

/*动态隐藏导航栏动画*/
.slideDown {
  /*-webkit-transform: translateY(0);
  transform: translateY(0);*/
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  /*transition: transform .5s ease-out;*/
  -webkit-transition: transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
}

/*首屏样式*/
.cumtonline{
	position: relative;
	height: 100vh;
	color: #ffffff;
	background: #66ccff;
}

/*首屏标题*/
.cumtonline span{
	position: absolute;
	top: 20%;
	left: 10%;
	font-size: 50px;
}

/*首屏内容*/
.cumtonline p{
	position: absolute;
	top: 30%;
	left: 10%;
	width: 600px;
	font-size: 20px;
	line-height: 30px;
	word-break: break-all;
}

/*首屏了解更多按钮*/
.cumtonline #learnmore{
	position: absolute;
	top: 70%;
	left: 10%;
	width: 160px;
	height: 50px;
	font-size: 18px;
	color: #ffffff;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	background: #8fc540;
	border-radius: 4px;
	cursor:pointer;
}

/*首屏播放按钮*/
.cumtonline #play_button{
	position: absolute;
	bottom: 100px;
	left: 50%;
	cursor:pointer;
	transform: translateX(-50%) translateY(50%);
}

/*产品介绍*/
.product{
	height: 90vh;
	/*height: 1000px;*/
	position: relative;
}

/*产品介绍 标题*/
.production h2{
	position: absolute; 
	top: 20%;
	left: 20%;
}

/*产品介绍 内容*/
.production p{
	position: absolute; 
	top: 40%;
	left: 20%;
	transform: translateY(-50%);
	width: 500px;
}

/*产品介绍 图片*/
.production img{
	position: absolute;
	top: 50%;
	left: 70%;
	transform:translate(-50%,-50%);
	width: 700px;
	height: 600px;
	background: #8fc540;
}

/*产品介绍 左右切换按钮*/
.product .arrow{
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	opacity: 0.5;
}

/*产品介绍 左右切换按钮hover样式*/
.arrow:hover{
	opacity: 0.8;
}

/*产品介绍 左切换按钮*/
.product .perv{
	left: 40px;
}

/*产品介绍 右切换按钮*/
.product .next{
	right: 40px;
}

/*needus joinus共用样式*/
.us{
	position: relative;
	height: 10vh;
	/*height: 100px;*/
	font-size: 24px;
	line-height: 100px;
	text-align: center;
	background: #f9f9f9;
}

/*needus joinus 按钮共用样式*/
.us input{
	position: absolute;
	top: 50%;
	left: 62%;
	width: 120px;
	height: 40px;
	font-size: 24px;
	color: white;
	background: #8fc540;
	border-radius: 4px;
	cursor:pointer;
	transform: translateY(-50%);
}

/*部门介绍*/
.introduction{
	position: relative;
	height: 90vh;
	/*height: 900px;*/
	text-align: center;
}

/*部门介绍 title*/
.introduction #intro-1,#intro-2{
	position: absolute;
	transform: translateX(-50%);
}

/*部门介绍 title1*/
.introduction #intro-1{
	top: 5%;
	font-size: 30px;
}

/*部门介绍 title2*/
.introduction #intro-2{
	top: 10%;
}

/*部门介绍 主体*/
.introduction .intr{
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	width: 600px;
}

/*部门介绍 主体图片*/
.intr #intr_pht{
	display: block;
	width:600px;
	height:400px;
	background: #8fc540;
}

/*部门介绍 主体 口号 组名*/
.introduction #intro-3,#intro-4{
	float: left;
	clear: both;
	padding: 10px 0;
}

/*部门介绍 主体内容*/
.introduction p{
	text-align: left;
	clear: both;
	line-height: 60px;
}

/*例会内容*/
.meeting{
	position: relative;
	height: 750px;
	text-align: left;
}

/*例会内容 title*/
.meeting #name{
	top: 10%;
	left: 20%;
	position: absolute;
	font-size: 30px;
}

/*例会内容 列表*/
.meeting #list{
	position: absolute;
	top: 20%;
	left: 20%;
	line-height: 50px;
}

/*例会内容 链接*/
.meeting a{
	font-size: 18px;
	color: black;
}

/*例会内容 更多按钮*/
.meeting #more{
	position: absolute;
	left: 20%;
	top: 70%;
	width: 120px;
	padding: 15px;
	font-size: 18px;
	color: #ffffff;
	background: #8fc540;
	border-radius: 4px;
	cursor:pointer;
}

/*例会内容 图片*/
.meeting #meeting_img{
	position: absolute;
	top: 10%;
	left: 50%;
	width:600px;
	height:450px;
	background: #8fc540;
}

/*表单提交部分*/
.joinUs{
	position: relative;
	height: 800px;
	background: #f2f2f2;
}

/*表单提交部分 title*/
.ju_sp span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/*表单提交部分 title1*/
.ju_sp #ju_sp1{
	top: 50px;
	font-size: 30px;
}

/*表单提交部分 title2*/
.ju_sp #ju_sp2{
	top: 100px;
	font-size: 20px;
}

/*表单提交部分 主体*/
.info-input{
	position: absolute;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	width: 1000px;
	height: 550px;
}

/*表单提交部分 主体 左右共用*/
.inputleft,.inputright{
	position: relative;
	float: left;
	width: 500px;
	height: 500px;
}

/*表单提交部分 主体 表格*/
.inputleft .forms{
	position: relative;
	display: block; 
	width: 500px;
	height: 60px;
}

/*表单提交部分 主体 表格标题*/
.inputleft span{
	float: left;
	margin: 0 20px;
	font-size: 22px;
	line-height: 46px;
}

/*表单提交部分 主体 表格*/
.inputleft input{
	width: 300px;
	height: 46px;
	font-size: 20px;
	line-height: 46px;
	padding-left: 10px;
	border-radius: 4px;
}

/*表单提交部分 主体 学院选择*/
.inputleft select{
	width: 310px;
	height: 46px;
	font-size: 20px;
	border-radius: 4px;
}

/*性别勾选框*/
.magic-radio {
	display: none;
	box-sizing: border-box;
	padding: 0;
}

.magic-radio+label:after {
	position: absolute;
	display: none;
	content: '';
}

.magic-radio:checked+label:after {
	display: block;
}

.magic-radio+label.radio-label:after {
	top: 7px;
	left: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #98D509;
}
/*before*/

.radio-label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '';
	border: 2px solid #c0c0c0;
	border-radius: 50%;
}

.radio-label {
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
	vertical-align: middle;
	color: black;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.radio-label:hover:before {
	border: 2px solid #98D509;
}

.magic-radio:checked+label.radio-label:before {
	border: 2px solid #98D509;
}

.radio-wrap {
	float: left;
	/*调整选择框左右间距*/
	margin-right: 24px;
	/*调整选择框高度*/
	margin-top: 12px;
}
/*性别勾选框*/

/*表单提交部分 主体 右侧*/
.inputright span{
	position: relative;
	margin: 20px;
	font-size: 22px;
}

/*表单提交部分 主体 简介*/
.inputright #power{
	position: relative;
	top: 20px;
	left: 20px;
	display: block;
	width: 350px;
	height: 150px;
	padding: 20px;
	font-size: 18px;
	border-radius: 4px;
	resize: none;
}

/*表单提交部分 主体 分组*/
.inputright #group{
	top: 40px;
}

/*表单提交部分 主体 分组选择*/
.checkbix {
	height: 18px !important;
}

/*表单提交部分 主体 分组外框*/
.info-checkbox{
	position:relative;
	top: 50px;
	width: 300px;
}

/*表单提交部分 主体 分组内框*/
.group-col{
	float: left;
}

/*表单提交部分 主体 提交按钮*/
.info-input #joinusnow{
	position: absolute;
	left: 400px;
	bottom: 50px;
	width: 200px;
	height: 46px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	background: #8fc540;
	border-radius: 4px;
	cursor: pointer;
}

/*注脚*/
footer{
	height: 400px;
}
