*{
	margin: 0;
	padding: 0;
	border: 0;
}

body,html{
	min-width: 1280px;

}

main{

}

header{
	width: 100%;
	min-width: 1280px;
	height: 100px;
	position: fixed;
	z-index: 999;
}

header .background{
	left: 0;top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5
}

header img{
	height: 60%;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

header ul{
	height: 50%;
	top: 50%;
	left: 60%;
	transform: translateY(-50%);
	position: absolute;
	text-align: center;
}

header li{
	list-style-type: none;
	display: inline;
	height: 50px;
	line-height: 50px;
	float: left;
	position: relative;
}

.focus:hover{
	background: #8fc540;
	border-radius: 4px;
}

header a{
	padding:31px 20px 30px;
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	transition: color .1s cubic-bezier(0, 0, 0.93, 0.09);
	cursor: auto;
}

.cumtonline{
	height: 100%;
	padding-top: 53%;
	color: #ffffff;
	background: #66ccff;
	position: relative;
}

.cumtonline span{
	left: 10%;
	top: 20%;
	font-size: 50px;
	position: absolute;
}

.cumtonline p{
	width: 600px;
	word-break: break-all;
	font-size: 20px;
	line-height: 30px;
	top: 30%;
	left: 10%;
	position: absolute;
}

.cumtonline img{
	cursor:pointer;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	position: absolute;
}

.cumtonline #learnmore{
	cursor:pointer;
	width: 160px;
	height: 50px;
	left: 10%;top: 70%;
	font-size: 18px;
	color: #ffffff;
	background: #8fc540;
	border-radius: 4px;
	position: absolute;
}

.product{
	padding-top: 40%;
	/*height: 1140px;*/
	position: relative;
}

.production h2{
	top: 20%;
	left: 20%;
	position: absolute; 
}

.production p{
	width: 25%;
	top: 40%;
	left: 20%;
	position: absolute; 
}

.production img{
	width: 500px;
	top: 50%;
	left: 70%;
	transform:translateX(-50%) translateY(-50%);
	position: absolute;

	height: 400px;
	background: #66ccff;
	
}

.product .arrow{
	cursor: pointer;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	opacity: 0.5;
}

.arrow:hover{
	/*background: rgba(0,0,0,0.1);*/
	opacity: 0.8;
}

.product .perv{
	left: 40px;
}

.product .next{
	right: 40px;
}


.us{
	height: 100px;
	font-size: 24px;
	line-height: 100px;
	text-align: center;
	background: #f9f9f9;
	position: relative;
}

.us input{
	cursor:pointer;
	color: white;
	width: 120px;
	height: 40px;
	font-size: 24px;
	background: #8fc540;
	left: 62%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	border-radius: 4px;
}

.introduction{
	/*height: 990px;*/
	padding-top: 50%;
	position: relative;
	text-align: center;
}

.introduction #intro-1,#intro-2{
	transform: translateX(-50%);
	position: absolute;
}

.introduction #intro-1{
	top: 5%;
	font-size: 30px;
}

.introduction #intro-2{
	top: 10%;
}

.introduction .intr{
	width: 40%;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	position: absolute;
}

.introduction #intro-3,#intro-4{
	float: left;
	padding: 10px 0;
	clear: both;
}

.introduction p{
	text-align: left;
	line-height: 60px;
	clear: both;
}

.meeting{
	/*height: 750px;*/
	padding-top: 40%;
	text-align: left;
	position: relative;
}

.meeting #name{
	font-size: 30px;
	top: 10%;
	left: 20%;
	position: absolute;
}

.meeting #list{
	font-size: 18px;
	line-height: 50px;
	top: 20%;
	left: 20%;
	position: absolute;
}

.meeting #more{
	cursor:pointer;
	left: 20%;
	top: 70%;
	font-size: 18px;
	color: #ffffff;
	background: #8fc540;
	border-radius: 4px;
	width: 120px;
	padding: 20px;
	position: absolute;
}

.meeting img{
	top: 10%;
	left: 50%;
	position: absolute;
}

.joinUs{
	height: 800px;
	background: #f2f2f2;
	position: relative;
}

.ju_sp span{
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.ju_sp #ju_sp1{
	font-size: 30px;
	top: 50px;
}

.ju_sp #ju_sp2{
	font-size: 20px;
	top: 100px;
}

.info-input{
	width: 1000px;
	height: 550px;
	top: 200px;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.inputleft,.inputright{
	width: 500px;
	height: 500px;
	float: left;
	position: relative;
}

.inputleft .forms{
	width: 500px;
	height: 70px;
	position: relative;
	display: block; 
}

.inputleft span{
	font-size: 22px;
	line-height: 46px;	
	margin: 0 20px;
	float: left;
}

.inputleft input{
	width: 300px;
	height: 46px;
	font-size: 20px;
	line-height: 46px;
	padding-left: 20px;
	border-radius: 4px;
}

.inputleft select{
	width: 320px;
	height: 46px;
	font-size: 20px;
	border-radius: 4px;
}

.magic-radio {
	box-sizing: border-box;
	padding: 0;
	display: none;
}

.magic-radio+label:after {
	position: absolute;
	display: none;
	content: '';
}

.magic-radio:checked+label:after {
	display: block;
}

.magic-radio+label.radio-label:after {
	top: 7px;
	left: 7px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #98D509;
}
/*before*/

.radio-label:before {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	content: '';
	border: 2px solid #c0c0c0;
	border-radius: 50%;
}

.radio-label {
	position: relative;
	display: block;
	padding-left: 30px;
	cursor: pointer;
	vertical-align: middle;
	color: black;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.radio-label:hover:before {
	border: 2px solid #98D509;
}

.magic-radio:checked+label.radio-label:before {
	border: 2px solid #98D509;
}

.radio-wrap {
	float: left;
	/*调整选择框左右间距*/
	margin-right: 24px;
	/*调整选择框高度*/
	margin-top: 12px;
}

.inputright span{
	font-size: 22px;
	margin: 20px;
	position: relative;
}

.inputright #power{
	width: 400px;
	height: 200px;
	font-size: 18px;
	border-radius: 4px;
	display: block;
	top: 20px;left: 20px;
	position: relative;
	resize: none;
}

.info-input #joinusnow{
	cursor: pointer;
	width: 200px;
	height: 46px;
	font-size: 20px;
	color: #ffffff;
	background: #8fc540;
	text-align: center;
	left: 400px;
	bottom: 50px;
	border-radius: 4px;
	position: absolute;
}

footer{
	height: 400px;
}
