
footer li{
	list-style-type: none;
}

footer{
	display: flex;
	min-width: 1200px;
	height: 154px;
	padding-top: 44px;
	justify-content: space-around;
	background: #404040;
	font-size: 12px;

}

footer .footerall{
	display: flex;
	justify-content: center;
	width: 1200px;
}

footer span{
	line-height: 20px;
}

footer .box1{
	width: 90px;
}

footer .box2{
	width: 300px;
}

footer .box3{
	width: 400px;
}

footer .box4{
	position: relative;
	width: 410px;
}

.box-title{
	color: #fe9b00;
}


footer ul{
	line-height: 20px;
}

footer a{
	text-decoration: none;
	color: gray;
}

.bottom-info{
	display: flex;
	flex-direction: column;
	color: gray;
}

.box3 li{
	position: relative;
	top: 26px;
}

.bottom-button{
	margin:0 22px;
	width: 44px;
}

.box4-down{
	position: absolute;
	top: 70px;
	left: 10px;
	padding-top: 30px;
	border-top: 1px solid #aaa;
}

.qrcode{
	display: none;
	position: absolute;
	top: -120px;
	height: 120px;
	width: 120px;
	left: -20px;
}

#weibo{
	left: 70px;
}

#weixin{
	left: 170px;
}

#qqqrcode:hover .qrcode{
	display: block;
}
#wbqrcode:hover .qrcode{
	display: block;
}
#wxqrcode:hover .qrcode{
	display: block;
}