*{ padding: 0 ; margin: 0 ; border: 0; z-index: 0;}

.container{
	position: relative;
	margin:0 auto;
	max-width: 1920px;
	background: #f2f2f2;
}

<<<<<<< HEAD
.join-us{
=======
.joinUs .join-us{
>>>>>>> master
	margin:0 auto;
	width: 1240px;
	height: 800px;
}

<<<<<<< HEAD
.join-us-span{
=======
.joinUs .join-us-span{
>>>>>>> master
	height: 150px;
	line-height: 60px;
	text-align: center;
}

<<<<<<< HEAD
.join-us-span span{
	display: block;
}

#join-us-sp1{
	font-size: 24px;
}

.join-us-info{
	height: 680px;
}

.info-left,.info-right{
=======
.joinUs .join-us-span span{
	display: block;
}

.joinUs #join-us-sp1{
	font-size: 24px;
}

.joinUs .join-us-info{
	height: 680px;
}

.joinUs  .info-left,.info-right{
>>>>>>> master
	float: left;
	/*margin: 0 auto;*/
	width: 50%;
	height: 420px;
}

<<<<<<< HEAD
/*.info-right{
	position: relative;
	left: 150px;
}*/


.info-forms{
=======
.joinUs .info-forms{
>>>>>>> master
	position: relative;
	height: 50px;
	margin: 10px 0;
}

<<<<<<< HEAD
.info-forms .title{
=======
.joinUs .info-forms .title{
>>>>>>> master
	position: absolute;
	left: 150px;
	float: left;
	margin: 0 20px 0 20px;
	font-size: 18px;
	line-height: 40px;
}

<<<<<<< HEAD
.info-forms input[type='text'],select{
=======
.joinUs .info-forms input[type='text'],select{
>>>>>>> master
	position: absolute;
	left: 240px;
	float: right;
	height: 40px;
	padding-left: 40px;
	font-size: 16px;
	line-height: 40px;
	border: 0;
	border-radius: 4px;
}

<<<<<<< HEAD
.info-forms select{
	width: 340px;
}

.info-forms input[type='text']{
	width: 300px;
}

.info-forms input[type='radio']{
=======
.joinUs .info-forms select{
	width: 340px;
}

.joinUs .info-forms input[type='text']{
	width: 300px;
}

.joinUs .info-forms input[type='radio']{
>>>>>>> master
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

<<<<<<< HEAD
.forms-gender{
=======
.joinUs .forms-gender{
>>>>>>> master
	position: absolute;
	left: 240px;
}

<<<<<<< HEAD
.info-radio {
=======
.joinUs .info-radio {
>>>>>>> master
	float: left;
	/*调整选择框左右间距*/
	margin-left: 14px;
	/*调整选择框高度*/
	margin-top: 7px;
}

<<<<<<< HEAD
.forms-ico{
=======
.joinUs .forms-ico{
>>>>>>> master
	z-index: 1;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 8px;
	left: 250px;
	background-size: 24px 24px;
}

#b1{
	background-image: url(../ico/personal.png);
}
#b2{
	background-image: url(../ico/personal.png);
}
#b3{
	background-image: url(../ico/classes.png);
}
#b4{
	background-image: url(../ico/telephone.png);
}
#b5{
	background-image: url(../ico/mail.png);
}
#b6{
	background-image: url(../ico/mail.png);
}

<<<<<<< HEAD
.info-profile{
=======
.joinUs .info-profile{
>>>>>>> master
	height: 200px;
	margin: 10px 0;
}

<<<<<<< HEAD
.info-profile span{
=======
.joinUs .info-profile span{
>>>>>>> master
	margin: 10px;
	font-size: 18px;
	float: left;
}

<<<<<<< HEAD
.info-profile #power{
=======
.joinUs .info-profile #power{
>>>>>>> master
	width: 350px;
	height: 150px;
	padding: 10px;
	font-size: 16px;
	line-height: 22px;
	border: 0;
	border-radius: 4px;
	resize: none;
}
 
#info-apply-group{
	position: relative;
	height: 300px;
	width: 100%;
	margin: 10px 0;
}

#info-group{
	margin: 10px;
	font-size: 18px;
}

<<<<<<< HEAD
.checkbox{
=======
.joinUs .checkbox{
>>>>>>> master
	display: inline;
	position: absolute;
	left: 100px;
	width: 400px;
	height: 20px;
	/*margin: 10px 20px 10 20px;*/
}

<<<<<<< HEAD
.group-left,.group-right{
=======
.joinUs .group-left,.group-right{
>>>>>>> master
	/*display: inline-block;*/
	float: left;
	margin-right: 40px;
}

<<<<<<< HEAD
.info-submit{
=======
.joinUs .info-submit{
>>>>>>> master
	position: absolute;
	top: 650px;
	height: 40px;
}

input[type='submit']{
	position: absolute;
	left: 520px;
	bottom: 20px;
	width: 200px;
	height: 40px;
	font-size: 20px;
	color: white;
	background: #98D509;
}